body
	font-family: Verdana
	font-size: 14px
	max-width: 100vw

.body
	&_fixed
		position: fixed
		
			
a
	text-decoration: none

button
	border: none
	background: none

form
	margin-bottom: 0
	
.container
	//@include wrapper()
	height: 100%
	padding-left: 35px
	padding-right: 35px

	@media screen and (max-width: $media-lg)
		padding-left: 10px
		padding-right: 10px

.row
	@include row-flex()

.headline
	margin-top: 32px
	margin-bottom: 25px
	font-size: 26px
	font-weight: normal
	text-transform: uppercase

	@media screen and (max-width: $media-md)
		font-size: 20px
		text-align: center